<h1>Verbal</h1>
<h4>Text Completions</h4>
<h4>Reading Comprehension</h4>
<h4>Sentenc Equivalence</h4>

<h1>Quant</h1>
<h4>Arthmetic</h4>
<h4>Algebra</h4>
<h4>Inequalities and Absolute Values</h4>
<h4>Functions, Formulas, and Sequences</h4>
<h4>Fractions and Decimals</h4>
<h4>Percents</h4>
<h4>Divisibility and Primes</h4>
<h4>Exponents and Roots</h4>
<h4>Number Properties</h4>
<h4>Word Problems</h4>
<h4>Two-Vatiable Word Problems</h4>
<h4>Ratios</h4>
<h4>Average, Weighted Averages, Mean, and Mode</h4>
<h4>Standara Deviation and Normal Distribution</h4>
<h4>Probability, Combinatorics, and Overlapping Sets</h4>
<h4>Data Interpretation</h4>
<h4>Polygon and Rectangular Solids</h4>

